<!DOCTYPE html>
<html>

<!-- CSS Properties -->
<style>
    html {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
        line-height: 1.5;
    }

    .container {
        margin: 15px;
        padding: 10px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student SignUp - TARUMT ITP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- Whole body -->
    <div class="container">
        <div class="logo-details">
            <img src="/static/images/tarumt.png" alt="TARUMT-logo" />
            
        </div>
    </div>
</body>

</html>